#!/bin/bash
{% if run == "sbatch" %}
#SBATCH --job-name="{{job_name}}"
#SBATCH --partition={{partition}}
#SBATCH --nodes={{nodes}}
#SBATCH --ntasks-per-node={{ntasks_per_node}}
#SBATCH --mem-per-cpu={{mem_per_cpu}}
#SBATCH --exclude=gpu[1-8]
{% endif %}

###OTU approach analysis###

#Create directories and shorten shared file name

mkdir -p {{files_directory}}analysis/OTU/alpha {% if sampl_num > 1 %}{{files_directory}}analysis/OTU/beta{% else %}{% endif %}
cp {{files_directory}}*shared {{files_directory}}analysis/OTU/{{job_name}}.shared
cp {{files_directory}}*cons.tax.summary {{files_directory}}analysis/OTU/alpha/{{job_name}}.tax.summary
{% if junk_grps != None %}
#Go to subdirectory, remove junk groups and subsample shared file

cd {{files_directory}}analysis/OTU
mothur '#set.current(processors={{processors}}, shared={{job_name}}.shared); remove.groups(shared=current, groups={{junk_grps}}); sub.sample(shared=current)'

#Copy non-subsampled shared file to alpha directory and subsampled shared file to beta directory

cp {{job_name}}.shared ./alpha
cp {{job_name}}.{{label}}.pick.{{label}}.subsample.shared ./beta/{{job_name}}.{{label}}.subsample.shared
{% else %}
#Go to subdirectory, and subsample shared file

cd {{files_directory}}analysis/OTU
mothur '#set.current(processors={{processors}}, shared={{job_name}}.shared); sub.sample(shared=current)'

#Copy non-subsampled shared file to alpha directory and subsampled shared file to beta directory

cp {{job_name}}.shared ./alpha
{% if sampl_num > 1 %}
cp {{job_name}}.{{label}}.subsample.shared ./beta/
{% else %}
{% endif %}
{% endif %}
#Go to alpha directory and create krona chart, rarefaction, summary table

cd ./alpha
mothur_krona_XML.py {{job_name}}.tax.summary > {{job_name}}.krona.xml
ktImportXML {{job_name}}.krona.xml -o {{job_name}}.krona.html
mothur '#set.current(processors={{processors}}, shared={{job_name}}.shared); rarefaction.single(shared=current, calc=sobs, freq=100); summary.single(shared=current, calc=nseqs-coverage-sobs-ace-chao-jack-simpson-invsimpson-shannon-npshannon)'
mothulity_draw.py --rarefaction {{job_name}}.groups.rarefaction
mothulity_draw.py --summary-table {{job_name}}.groups.summary
{% if sampl_num > 1 %}

#Go to beta directory and create dist files for Jaccard and YC measures

cd ../beta
mothur '#set.current(processors={{processors}}, shared={{job_name}}.{{label}}.subsample.shared); dist.shared(shared=current, calc=thetayc-jclass, output=square)'

#Create phylogenetic tree for Jaccard and YC measures

mothur '#tree.shared(phylip={{job_name}}.{{label}}.subsample.jclass.{{label}}.square.dist); tree.shared(phylip={{job_name}}.{{label}}.subsample.thetayc.{{label}}.square.dist)'

#Create scatter plots upon NMDS for Jaccard and YC measures

mothur '#nmds(phylip={{job_name}}.{{label}}.subsample.jclass.{{label}}.square.dist); nmds(phylip={{job_name}}.{{label}}.subsample.thetayc.{{label}}.square.dist)'

#Draw beta directory pictures for Jaccard and YC measures

mothulity_draw.py --phylip {{job_name}}.{{label}}.subsample.jclass.{{label}}.square.dist --tree {{job_name}}.{{label}}.subsample.jclass.{{label}}.square.tre --axes {{job_name}}.{{label}}.subsample.jclass.{{label}}.square.nmds.axes
mothulity_draw.py --phylip {{job_name}}.{{label}}.subsample.thetayc.{{label}}.square.dist --tree {{job_name}}.{{label}}.subsample.thetayc.{{label}}.square.tre --axes {{job_name}}.{{label}}.subsample.thetayc.{{label}}.square.nmds.axes
{% else %}
{% endif %}
#Go to OTU directory

cd ../

#Render html output
mothulity.py {{files_directory}} --render-html --job-name {{job_name}}

#Go to project's root directory

cd ../../

#Zip the results

zip -r {{job_name}}.zip analysis/
{% if notify_email != None %}
#Send mail
headnode_notifier.py {{notify_email}} --subject '{{job_name}} analysis part has finished' --body 'Please download the attachment and inspect the results of {{job_name}}.{% if sampl_num == 1 %} Please note, that there was only one sample, therefore no beta analysis was carried out.{% endif%}' --attach {{job_name}}.zip
{% else %}
{% endif %}
