[templates]
preproc = preproc_template.sh.j2
analysis = analysis_template.sh.j2
output = output_template.html
[file_globs]
shared = *shared
tax_sum = *cons.tax.summary
fastq = *fastq
[css]
w3 = <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
datatables = <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
[js]
slideshow = slideshow.js
datatables = datatables.js
[N]
partition = long
nodes = 1
ntasks_per_node = 1
mem_per_cpu = 24
processors = 12
[S]
partition = long
nodes = 2
ntasks_per_node = 1
mem_per_cpu = 24
processors = 24
[M]
partition = long
nodes = 10
ntasks_per_node = 1
mem_per_cpu = 24
processors = 120
[L]
partition = long
nodes = 20
ntasks_per_node = 1
mem_per_cpu = 24
processors = 240
[XL]
partition = long
nodes = 40
ntasks_per_node = 1
mem_per_cpu = 24
processors = 480
[PHI]
partition = accel
nodes = 1
ntasks_per_node = 1
mem_per_cpu = 128
processors = 32
[JUMBO]
partition = accel
nodes = 4
ntasks_per_node = 1
mem_per_cpu = 128
processors = 128
