[templates]
preproc = preproc_template.sh.j2
analysis = analysis_template.sh.j2
output = output_template.html.j2
venn = venn_diagrams_template.html.j2

[file_globs]
shared = *shared
tax_sum = *cons.tax.summary
design = *design

[css]
w3 = <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
datatables = <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">

[js]
slideshow = slideshow.js
datatables = datatables.js
